.chat-container{
  display: flex;
  flex-direction: column;
  padding:30px
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.chat-container{
  background-color: white;

}
.chat-header{
  
  width: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  height: 35px;
  background-color: #4b5779;
  border: 1px solid #4b5779;
}

.chat-card01{
  background-image: url("../../images/image2.jpg");
  background-size: cover;
  height:48vw;
  
}

.chat-card{
  padding-top: 50px;
  padding-left: 25%;
  padding-bottom: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  min-height: 520px;
}

.chat-form{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
 
}
.chat-form .textfield{
  width: 100%;
  margin-bottom: 2%;
}
.chat-form button{
  background-color:  #f5c107;
  border: solid 2px #f5c107;
  color:white;
  font-size: 1.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 30%;
  height: 25%;
}
@media screen and (max-width: 950px) {
  .chat-card{
    margin-left: 15%;
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .chat-card{
    margin-left: 5%;
    width: 70%;
  }
}
